p.caption > .caption-text {
  font-size: 50%;
  font-weight: normal;
  line-height: 0;
}

p.caption {
  text-align: center;
}

table {
  width:600;
  table-layout:fixed;
}

td {
  word-wrap:break-word;
}

.admonition {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* le but était de pouvoir écire de manière plus petite dans certaines tables mises en sidebar mais cette règle est écrasée par une autre et je ne sais pas comment faire pour la faire appliquer */
.small td, .small th {
  font-size: 70%;
}
